%h1 Listing lines

%table
  %thead
    %tr
      %th Name
      %th Properties
      %th
      %th
      %th

  %tbody
    - @lines.each do |line|
      %tr
        %td= line.name
        %td= line.properties
        %td= link_to 'Show', line
        %td= link_to 'Edit', edit_line_path(line)
        %td= link_to 'Destroy', line, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Line', new_line_path
