%h1
  = @dashboard.name
%br
- @sections.each do |name, report|
  %h3
    = name
    .container
      .table-responsive
        %table.table{:id => name.gsub(" ", "_")}
          -if report.class == Array
            -report.first.each do |key, value|
              %th #{key}
            -report.each do |row|
              %tr
              -row.each do |key, value|
                %td #{value}
          -else
            = report
