%table#table_report{:style => "width:100%"}
  %tr
    %th id
    %th campaign
    %th influencer
    %th retweets
    %th date
    %th status
  - @data.each do |d|
    %tr 
      %td= d["id"]
      %td= d["campaign"]
      %td= d["influencer"]
      %td= d["retweets"]
      %td= d["date"]
      %td= d["status"]
